
/* MAIN NAVBAR */
.custom-navbar{
    background: #F4B41A;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* container */
.nav-container{
    width: 100%;
    padding: 5px 15px;   /* small safe padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* logo */
.logo img{
    height: 40px;
}

/* menu */
.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.nav-links li a:hover{
    color: #fff;
}

/* mobile icon */
.menu-toggle{
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* MOBILE VIEW */
@media(max-width:768px){

    .menu-toggle{
        display: block;
    }

    .logo img{
        height: 32px;
    }

    .nav-links{
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #F4B41A;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 15px 0;
    }

    .nav-links.active{
        display: flex;
    }

    .nav-links li{
        margin: 10px 0;
    }
}
